<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title><%= appname %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no, email=no"/>
  <!-- 忽略页面中的数字识别和email识别 -->
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <script type="text/javascript">
    (function(win) {
        var timeout,
            doc = win.document,
            html = doc.documentElement;

        function setFontSize() {
            var htmlWidth = html.getBoundingClientRect().width;
            var ratio = htmlWidth / 640;
            if (htmlWidth < 640) {
                win.rem = ratio * 1.5;
            } else {
                win.rem = 1.5;
            }
            win.responseRatio = ratio;
            html.style.fontSize = win.rem + "rem";
        }
        win.addEventListener("resize", function() {
            clearTimeout(timeout), timeout = setTimeout(setFontSize, 300);
        }, false);
        setFontSize();
    })(window);
  </script>
  <!-- QQ强制竖屏 -->

  <!-- Place favicon.ico in the root directory -->

  <!-- build:css assets/styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css assets/styles/main.css -->
  <link rel="stylesheet" href="assets/styles/main.css">
  <!-- endbuild -->
  <% if (includeModernizr) { %>
  <!-- build:js assets/scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild --><% } %>
</head>
<body>

  <!-- build:js assets/scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->
  <% if (includeBootstrap) { %>
  <!-- build:js assets/scripts/plugins.js -->
<% bsPlugins.forEach(function (plugin) { -%>
  <script src="<%= bsPath + plugin %>.js"></script>
<% }) -%>
  <!-- endbuild -->
  <% } %>
  <!-- build:js assets/scripts/main.js -->
  <script src="assets/scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>